{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    {% block link %}
    
    {% endblock %}
</head>
<body>
    <nav>
        <a href="{% url 'homeUrl'%}" class="home"><img src="{% static 'img/Ruscom-logo.svg' %}", height="30px", width="40px"></a>

        <div class="main">
            <a href="{% url 'guidebook_graphUrl' %}">Учебник</a> 
            <a href="{% url 'dictionaryUrl' %}">Словарь</a> 
            <a href="{% url 'testsUrl' filter='all'%}">Тесты</a> 
        </div>

        <a href="{% url 'profileUrl' %}" class="profile">Профиль</a>

        <div class="hamburger">
          <img src="{% static 'img/gamburger.svg'%}">
        </div>

        <div class="hamburger_overlay">
          <div class="hamburger_menu">
            <a href="{% url 'homeUrl'%}" class="hamburger_item">Главная</a>
            <a href="{% url 'guidebook_graphUrl' %}" class="hamburger_item">Учебник</a> 
            <a href="{% url 'dictionaryUrl' %}" class="hamburger_item">Словарь</a> 
            <a href="{% url 'testsUrl' filter='all'%}" class="hamburger_item">Тесты</a>
            <a href="{% url 'profileUrl' %}" class="hamburger_item">Профиль</a> 
          </div>
        </div>
        
    </nav>

    {% block content %}
    
    {% endblock %}
    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>