{% extends "./base.html" %}
{% load static %}

{% block title %}
Главная
{% endblock %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/home.min.css' %}">
{% endblock %}
{% block content %}
<div class="home">
  <div class="learn">
    <div class="learn_rotating-image">
      <img src="{% static 'img/circle.png' %}">
    </div>
    <div class="learn_text">
      <div class="learn_text_index">
        Изучайте <span>Русский язык</span> в любом месте
      </div>
      <div class="learn_text_text">
        <div>Подготовьтесь к егэ и огэ</div>
        <div>Повышайте грамотность</div>
        <div>Ускорьте изучение в несколько раз</div>
      </div>
      <a href="{% url 'login' %}"><button class="learn_btn btn-big">Начать</button></a>
    </div>
  </div>

  <div class="advantages">
    <div class="advantages_bg"></div>
    <div class="advantages_items">
      <div class="advantages_title"><div class="advantages_circle"></div><span>Наши возможности</span></div>
      <div class="advantages_item1 advantages_item center-text-block-span "><span>Удобные тесты для быстрого усвоения знаний</span></div>
      <div class="advantages_item2 advantages_item center-text-block-span "><span>Ёмкий словарь для вашего удобства</span></div>
      <div class="advantages_item3 advantages_item center-text-block-span "><span>Большое количество тем для изучения</span></div>
    </div>
  </div>

  <div class="frequent-question">
    <div class="frequent-question_title"><span>Частые вопросы</span>
    </div>
    <div class="frequent-question_items">
        <div class="frequent-question_item">
            <div class="frequent-question_item_question">
                Почему именно мы?
                <span class="arrow">&#x25BC;</span>
            </div>
            <div class="frequent-question_item_answer">Мы предоставляем качественный и надежный материал для подготовки к экзаменам</div>
        </div>
        <div class="frequent-question_item">
            <div class="frequent-question_item_question">
                Сложно ли учить русский язык?
                <span class="arrow">&#x25BC;</span>
            </div>
            <div class="frequent-question_item_answer"> Русский язык может показаться сложным из-за своей грамматики. Однако, регулярная практика и погружение помогут значительно упростить процесс изучения.</div>
        </div>
        <div class="frequent-question_item">
            <div class="frequent-question_item_question">
                Какая стоимость?
                <span class="arrow">&#x25BC;</span>
            </div>
            <div class="frequent-question_item_answer">Наш продукт в данный момент абсолютно бесплатный для любого пользователя</div>
        </div>
        <div class="frequent-question_item">
            <div class="frequent-question_item_question">
                Какие будущие планы?
                <span class="arrow">&#x25BC;</span>
            </div>
            <div class="frequent-question_item_answer">Мы планируем сделать сайт более удобным и качественным, разработать больше заданий.</div>
        </div>
        <div class="frequent-question_subtitle">Остались ещё вопросы? свяжитесь с нами</div>
        <a href="#"><button class="btn-medium">Перейти</button></a>
    </div>

</div>


<script src="{% static 'js/home.js' %}"></script>
{% endblock %}