{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products</title>
</head>
<body>
  <object data="{% static url %}" type="application/pdf" width="100%" height="800px">
    <p>Alternative text - include a link <a href="{% static url %}">to the PDF!</a></p>
    <p>
    Или скопируйте эту ссылку и вставьте в адресную строку браузера
    https://ruscomsite.tw1.ru/{% static url %}
    </p>
  </object>
</body>
</html>




    




