{% extends "./base.html" %}
{% load static %}

{% block title %}
Профиль
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/profile.min.css' %}">
{% endblock %}

{% block content %}
<div class="user-profile">
  <div class="user-profile_information">
    <h1>Профиль</h1>
    <div class="user-profile_name">Ваше имя: {{ user.name }}</div>
    <div class="amount_point">Количество очков: {{ user.score }}</div>
  </div>
  <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit" class="user-profile_logout btn-medium">Выйти</button>
  </form>
</div>
{% endblock %}