{% extends "./base.html" %}
{% load static %}

{% block title %}
Тесты
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/tests.min.css' %}">
{% endblock %}

{% block content %}
<div class="up_curve">
  <div class="curve">
  </div>
</div>

<!-- <div class="tests_search"> in the futurew
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Найти</button>
  </form>
</div> -->

<div class="tests_tasks">
  {% for task in tasks %}
  <div class="tests_task">
    <div class="tests_task_black-square"></div>
    <div class="tests_task_title"><span>{{ task.title }}</span></div>
    <div class="tests_task_author"><span>{{ task.author.name }}</span></div>
    <div class="tests_task_categories">
    {% for category in task.category.all %}
      <div class="tests_task_categories_category"><span>{{ category }}</span></div>
    {% endfor %}
    </div>
    <div class="tests_task_description"><span>{{ task.description }}</span></div>
    <a href="{% url 'task_item' task.id %}" class="tests_task_a"><button class="tests_task_btn btn-medium">Решить</button></a>
  </div>
  {% endfor %}
</div>
{% endblock %}